<!DOCTYPE html>

  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <li><a href="/credits">creditos</a></li>
  <li> <a href="/quizzes">quizzes</a></li>
  </body>
</html>
